<main role="main" id="main">
  <section class="bannner_body">
    <div class="bg-black"></div>
    <div class="slider-container">
      <?php foreach($banners AS $b){ 
                $listeCategoties = $db->sqlManyResults("SELECT * FROM
      ".TABLE_VIC." vic INNER JOIN ".TABLE_CAT." cat ON cat.cat_id=vic.cat_id
      WHERE vic.vid_id = ?",array("vid_id"=>$b->vid_id)); $last_key =
      end(array_keys($listeCategoties)); ?>
      <div class="slide <?php if($b->ban_iOrder==1){ echo 'active';}?>"
        style="background-image: url('<?=$b->ban_sBackground;?>');"></div>
      <?php } ?>

      <button class="arrow left-arrow" id="left">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button class="arrow right-arrow" id="right">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </section>

  <section id="movies">
    <div class="container">
      <div class="location">
        <?php if($new){ ?>
        <h1 id="home">Nouveautés</h1>
        <div class="box">
          <?php foreach($new AS $b){ 
                $listeCategoties = $db->sqlManyResults("SELECT * FROM
          ".TABLE_VIC." vic INNER JOIN ".TABLE_CAT." cat ON
          cat.cat_id=vic.cat_id WHERE vic.vid_id =
          ?",array("vid_id"=>$b->vid_id)); $last_key =
          end(array_keys($listeCategoties)); ?>
          <a href="?p=video-detail&vid=<?=$b->vid_id;?>">
            <div class="calc">
              <p class="titleMovie"><?=$b->vid_sTitre;?></p>
              <p class="realMovie"><?=$b->vid_sType;?> de <?=$b->vid_sReal;?></p>
              <p class="categoryMovie">
                <?php foreach($listeCategoties AS $key=>$c){ ?>
                <span><?=$c->cat_sLib;?></span>
                <?php } ?>
              </p>
            </div>
            <img src="<?=$b->vid_sPoster;?>" alt="" />
          </a>
          <?php } ?>
        </div>
        <?php } ?>

        <?php if($movies){ ?>
        <h1 id="myList">Films</h1>
        <div class="box">
          <?php foreach($movies AS $b){ 
              $listeCategoties = $db->sqlManyResults("SELECT * FROM
          ".TABLE_VIC." vic INNER JOIN ".TABLE_CAT." cat ON
          cat.cat_id=vic.cat_id WHERE vic.vid_id =
          ?",array("vid_id"=>$b->vid_id)); $last_key =
          end(array_keys($listeCategoties)); ?>
          <a href="?p=video-detail&vid=<?=$b->vid_id;?>"><img src="<?=$b->vid_sPoster;?>" alt="" />
            <div class="calc">
              <p class="titleMovie"><?=$b->vid_sTitre;?></p>
              <p class="realMovie">de <?=$b->vid_sReal;?></p>
              <p class="categoryMovie">
                <?php foreach($listeCategoties AS $key=>$c){ ?>
                <span><?=$c->cat_sLib;?></span>
                <?php } ?>
              </p>
            </div>
          </a>
          <?php } ?>
        </div>
        <?php } ?>

        <?php if($series){ ?>
        <h1 id="myList" class="">série</h1>
        <div class="box">
          <?php foreach($series AS $b){ 
                $listeCategoties = $db->sqlManyResults("SELECT * FROM
          ".TABLE_VIC." vic INNER JOIN ".TABLE_CAT." cat ON
          cat.cat_id=vic.cat_id WHERE vic.vid_id =
          ?",array("vid_id"=>$b->vid_id)); $last_key =
          end(array_keys($listeCategoties)); ?>
          <a href="?p=video-detail&vid=<?=$b->vid_id;?>">
            <div class="calc">
              <p class="titleMovie"><?=$b->vid_sTitre;?></p>
              <p class="realMovie">de <?=$b->vid_sReal;?></p>
              <p class="categoryMovie">
                <?php foreach($listeCategoties AS $key=>$c){ ?>
                <span><?=$c->cat_sLib;?></span>
                <?php } ?>
              </p>
            </div><img src="<?=$b->vid_sPoster;?>" alt="" />
          </a>
          <?php } ?>
        </div>
        <?php } ?>

        <?php if($populars){ ?>
        <h1 id="tvShows">Populaires</h1>
        <div class="box">
          <?php foreach($populars AS $b){ 
                $listeCategoties = $db->sqlManyResults("SELECT * FROM
          ".TABLE_VIC." vic INNER JOIN ".TABLE_CAT." cat ON
          cat.cat_id=vic.cat_id WHERE vic.vid_id =
          ?",array("vid_id"=>$b->vid_id)); $last_key =
          end(array_keys($listeCategoties)); if($b->nb!=0){ ?>
          <a href="?p=video-detail&vid=<?=$b->vid_id;?>">
            <div class="calc">
              <p class="titleMovie"><?=$b->vid_sTitre;?></p>
              <p class="realMovie"><?=$b->vid_sType;?> de <?=$b->vid_sReal;?></p>
              <p class="categoryMovie">
                <?php foreach($listeCategoties AS $key=>$c){ ?>
                <span><?=$c->cat_sLib;?></span>
                <?php } ?>
              </p>
            </div><img src="<?=$b->vid_sPoster;?>" alt="" />
          </a>
          <?php } ?>
        </div>
        <?php }} ?>

        <?php if($categories){ 
          foreach($categories AS $cat){ 
              $listeMedias = $db->sqlManyResults("SELECT * FROM ".TABLE_VIC."
        vic INNER JOIN ".TABLE_CAT." cat ON cat.cat_id=vic.cat_id INNER JOIN
        ".TABLE_VID." vid ON vid.vid_id=vic.vid_id WHERE vic.cat_id =
        ?",array("cat_id"=>$cat->cat_id)); ?>
        <h1 id="movies" class="">
          Catégorie
          <a href="?p=media-library&categories=<?=$cat->cat_id;?>">
            <?=$cat->cat_sLib;?></a>
        </h1>
        <div class="box">
          <?php  foreach($listeMedias AS $b){ ?>
          <a href="?p=video-detail&vid=<?=$b->vid_id;?>">
            <div class="calc">
              <p class="titleMovie"><?=$b->vid_sTitre;?></p>
              <p class="realMovie">de <?=$b->vid_sReal;?></p>
            </div><img src="<?=$b->vid_sPoster;?>" alt="" />
          </a>
          <?php } ?>
        </div>
        <?php } } ?>
      </div>
    </div>
  </section>
</main>

<!--
<h1> Je suis la page d'acceuil</h1>
<?php
    //à faire les détails de chaque partie
    //var_dump($banners);
    //var_dump($new);
    //var_dump($movies);
    //var_dump($series);
    //var_dump($populars);
    //var_dump($categories);
?>
<section>
    <h3>bannières</h3>
    <?php foreach($banners AS $b){ 
        $listeCategoties = $db->sqlManyResults("SELECT * FROM ".TABLE_VIC." vic 
										INNER JOIN ".TABLE_CAT." cat ON cat.cat_id=vic.cat_id 
                                        WHERE vic.vid_id = ?",array("vid_id"=>$b->vid_id));

        $last_key = end(array_keys($listeCategoties));
    ?>
    <div class="media banner">
        <a href="?p=player&vid=<?=$b->vid_id;?>">
            <img src="<?=$b->ban_sBackground;?>" alt=""><br>
            <b><?=$b->ban_sPromo;?></b><br>
            <b style="color: orangered;"><?=$b->vid_sTitre;?></b> (<?=$b->vid_sType;?>) | Réalisation : <?=$b->vid_sReal;?> | sorti<?php if($b->vid_sType=="Série"){echo "e";}?> le <?=$cmn->affDateFrNum($b->vid_dDateSort);?><br>
            <?=$b->vid_sSyno;?><br><br>
        </a>
        Catégorie(s): 
        <?php foreach($listeCategoties AS $key=>$c){ ?>
        <a href="?p=media-library&categories=<?=$c->cat_id;?>" style="color: blue;text-decoration: underline;"><?=$c->cat_sLib;?></a> 
        <?php if($last_key!=$key){ echo ", "; }} ?>
    </div>
    <?php } ?>

</section>

<?php if($new){ ?>
<section>
    <br>
    <h3>Nouveauté</h3>
    <?php foreach($new AS $b){ 
        $listeCategoties = $db->sqlManyResults("SELECT * FROM ".TABLE_VIC." vic 
                                        INNER JOIN ".TABLE_CAT." cat ON cat.cat_id=vic.cat_id 
                                        WHERE vic.vid_id = ?",array("vid_id"=>$b->vid_id));

        $last_key = end(array_keys($listeCategoties));
    ?>
    <div class="media">
        <a href="?p=video-detail&vid=<?=$b->vid_id;?>">
            <img src="<?=$b->vid_sPoster;?>" alt=""><br>
            <b style="color: orangered;"><?=$b->vid_sTitre;?></b> (<?=$b->vid_sType;?>) <br>
            sorti<?php if($b->vid_sType=="Série"){echo "e";}?> le <?=$cmn->affDateFrNum($b->vid_dDateSort);?><br>
        </a>
        Catégorie(s): 
        <?php foreach($listeCategoties AS $key=>$c){ ?>
        <a href="?p=media-library&categories=<?=$c->cat_id;?>" style="color: blue;text-decoration: underline;"><?=$c->cat_sLib;?></a> 
        <?php if($last_key!=$key){ echo ", "; }} ?>
    </div>
    <?php } ?>
</section>
<?php } ?>

<?php if($movies){ ?>
<section>
    <br>
    <h3>Films</h3>
    <?php foreach($movies AS $b){ 
        $listeCategoties = $db->sqlManyResults("SELECT * FROM ".TABLE_VIC." vic 
                                        INNER JOIN ".TABLE_CAT." cat ON cat.cat_id=vic.cat_id 
                                        WHERE vic.vid_id = ?",array("vid_id"=>$b->vid_id));

        $last_key = end(array_keys($listeCategoties));
    ?>
    <div class="media">
        <a href="?p=video-detail&vid=<?=$b->vid_id;?>">
            <img src="<?=$b->vid_sPoster;?>" alt=""><br>
            <b style="color: orangered;"><?=$b->vid_sTitre;?></b> <br>
        </a>
        Catégorie(s): 
        <?php foreach($listeCategoties AS $key=>$c){ ?>
        <a href="?p=media-library&categories=<?=$c->cat_id;?>" style="color: blue;text-decoration: underline;"><?=$c->cat_sLib;?></a> 
        <?php if($last_key!=$key){ echo ", "; }} ?>
    </div>
    <?php } ?>
</section>
<?php } ?>

<?php if($series){ ?>
    <section>
        <br>
        <h3>Séries</h3>
        <?php foreach($series AS $b){ 
            $listeCategoties = $db->sqlManyResults("SELECT * FROM ".TABLE_VIC." vic 
                                            INNER JOIN ".TABLE_CAT." cat ON cat.cat_id=vic.cat_id 
                                            WHERE vic.vid_id = ?",array("vid_id"=>$b->vid_id));
    
            $last_key = end(array_keys($listeCategoties));
        ?>
        <div class="media">
            <a href="?p=video-detail&vid=<?=$b->vid_id;?>">
                <img src="<?=$b->vid_sPoster;?>" alt=""><br>
                <b style="color: orangered;"><?=$b->vid_sTitre;?></b> <br>
            </a>
            Catégorie(s): 
            <?php foreach($listeCategoties AS $key=>$c){ ?>
            <a href="?p=media-library&categories=<?=$c->cat_id;?>" style="color: blue;text-decoration: underline;"><?=$c->cat_sLib;?></a> 
            <?php if($last_key!=$key){ echo ", "; }} ?>
        </div>
        <?php } ?>
    </section>
<?php } ?>

<?php if($populars){ ?>
    <section>
        <br>
        <h3>Populaires</h3>
        <?php foreach($populars AS $b){ 
            $listeCategoties = $db->sqlManyResults("SELECT * FROM ".TABLE_VIC." vic 
                                            INNER JOIN ".TABLE_CAT." cat ON cat.cat_id=vic.cat_id 
                                            WHERE vic.vid_id = ?",array("vid_id"=>$b->vid_id));
    
            $last_key = end(array_keys($listeCategoties));
            if($b->nb!=0){
        ?>
        <div class="media">
            <a href="?p=video-detail&vid=<?=$b->vid_id;?>">
                <img src="<?=$b->vid_sPoster;?>" alt=""><br>
                <b style="color: orangered;"><?=$b->vid_sTitre;?></b> (<?=$b->vid_sType;?>) | <?=$b->nb;?> vue<?php if($b->nb>1){echo "s";}?><br>
                sorti<?php if($b->vid_sType=="Série"){echo "e";}?> le <?=$cmn->affDateFrNum($b->vid_dDateSort);?><br>
            </a>
            Catégorie(s): 
            <?php foreach($listeCategoties AS $key=>$c){ ?>
            <a href="?p=media-library&categories=<?=$c->cat_id;?>" style="color: blue;text-decoration: underline;"><?=$c->cat_sLib;?></a> 
            <?php if($last_key!=$key){ echo ", "; }} ?>
        </div>
        <?php } } ?>
    </section>
<?php } ?>

<?php if($categories){ 
    foreach($categories AS $cat){ 
        $listeMedias = $db->sqlManyResults("SELECT * FROM ".TABLE_VIC." vic 
                                        INNER JOIN ".TABLE_CAT." cat ON cat.cat_id=vic.cat_id 
                                        INNER JOIN ".TABLE_VID." vid ON vid.vid_id=vic.vid_id 
                                        WHERE vic.cat_id = ?",array("cat_id"=>$cat->cat_id));   
?>
<section>
    <br>
    <h3>Catégorie <a href="?p=media-library&categories=<?=$cat->cat_id;?>" style="color: blue;text-decoration: underline;"><?=$cat->cat_sLib;?></a> </h3>
    <?php  foreach($listeMedias AS $b){ ?>
    <div class="media">
        <a href="?p=video-detail&vid=<?=$b->vid_id;?>">
            <img src="<?=$b->vid_sPoster;?>" alt=""><br>
            <b style="color: orangered;"><?=$b->vid_sTitre;?></b> (<?=$b->vid_sType;?>)<br>
        </a>
    </div>
    <?php } ?>
</section>
<?php } } ?>
-->