<h2>Mon Profil</h2>



<form id="form_profil">

    <div class="returne_profil">


    </div>
    <div>
        <label> Votre nom *</label> <br>
        <input type="text" name="nom" class="require nom" value="<?=$customer->usr_sNom;?>">
    </div>
    <div>
        <label> Votre prénom </label> <br>
        <input type="text" name="prenom" value="<?=$customer->usr_sPrenom;?>">
    </div>
    <div>
        <label> Votre pseudo *</label> <br>
        <input type="text" name="pseudo" class="require pseudo" value="<?=$customer->usr_sPseudo;?>">
    </div>
    <div>
        <button type="button" id="profil"> Modifier</button>
    </div>

</form>