<h2>Inscription</h2>

<form id="form_sign-up">
    <div>
        <label> Votre nom *</label> <br>
        <input type="text" name="nom" class="require nom">
    </div>
    <div>
        <label> Votre prénom </label> <br>
        <input type="text" name="prénom">
    </div>
    <div>
        <label> Votre e-mail *</label> <br>
        <input type="text" name="email" class="require email">
    </div>
    <div>
        <label> Votre pseudo *</label> <br>
        <input type="text" name="pseudo" class="require pseudo">
    </div>
    <div>
        <label> Votre Mot de passe *</label> <br>
        <input type="password" name="pass" class="require pass">
    </div>
    <div>
        <label> Confirmation *</label> <br>
        <input type="password" name="cpass" class="require cpass">
    </div>
    <div>
        <button type="button" id="sign-in"> S'inscrire</button>
    </div>

</form>