body {
    background: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.form-connect {
    background: white;
    color: black;
    padding: 1em;
    border-radius: 8px;
}

h3 {
    text-align: center;
    margin: 1em 0 2em 0;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.form-component {
    width: 96%;
}

@media(min-width:768px){
  h3 {
    margin: 1em 0 1em 0;
  } 
  .form-component {
    width: 33%;
  }
}