@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
  font-weight: 300;
  font-family: "Muli", sans-serif;
  background-color: black;
}

*,
*::after,
*::before {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  color: #03a9f4;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.285);
  z-index: 1001;
}

/* For Typography */
.ul-base {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* -----------------------------------------------------
  Clearfix
  -------------------------------------------------------- */
.clearfix {
  *zoom: 1;
}
.clearfix::after {
  content: "";
  display: table;
  line-height: 0;
  clear: both;
}

#movies {
  margin-bottom: 50px;
}

/* -----------------------------------------------------
     Header
  -------------------------------------------------------- */
header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
header .header-inner {
  width: 100%;
  height: 64px;
  color: #fff;
  padding: 0 20px;
  background-color: #1c1c1c;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  display: flex;
}
header .nav-btn {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  margin: 12px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header .nav-btn.search {
  display: none;
}
header .nav-btn i {
  vertical-align: middle;
}
header .header-logo {
  display: inline-block;
  overflow: hidden;
  padding: 21px 38px 21px 5px;
}
header .header-logo img {
  display: block;
  max-height: 21px;
  vertical-align: middle;
}
header .header-categories {
  display: block;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.157);
}
header .header-search {
  display: block;
  position: relative;
  height: 64px;
  margin: 0 auto;
  padding: 10px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.157);
  border-right: 1px solid rgba(255, 255, 255, 0.157);
}
header .header-search .search {
  display: block;
  position: relative;
  width: calc(100% - 35px);
  margin: 0 auto;
}
header .header-search .search i {
  position: absolute;
  top: 14px;
  left: 10px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
header .header-search .search input[type="search"] {
  width: 100%;
  height: 30px;
  padding: 0 15px 0 50px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 8px;
}
header .header-search .search ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
header .header-search .search ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
header .header-search .search :-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
header .header-search .search :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

header .header-menu ul {
  height: 64px;
}
header .header-menu ul li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0 0 0 12px;
  line-height: 64px;
}
header .header-menu ul li a {
  color: #fff;
  font-size: 22px;
  padding: 4px;
}
header .header-menu ul li a.pseudo {
  font-size: 16px;
}

header .header-menu ul li a:hover {
  opacity: 0.6;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  header .header-categories {
    display: none;
  }
  header .header-search {
    width: calc(100% - 440px);
  }
}
@media only screen and (max-width: 860px) {
  header .header-search {
    display: none;
  }
  header .header-menu ul li:last-child {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  header .header-inner {
    padding: 0 12px;
    text-align: center;
  }
  header .nav-btn {
    background-color: rgba(0, 0, 0, 0.175);
  }
  header .header-logo {
    padding-left: 0px;
    padding-right: 0px;
  }
  header .header-menu {
    display: none;
  }
}

/* -----------------------------------------------------
     Nav
  -------------------------------------------------------- */
nav {
  overflow-y: auto;
  position: fixed;
  top: 0px;
  left: -250px;
  width: 250px;
  height: 100%;
  color: #fff;
  background-color: #f9f9f9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.9;
  z-index: 1002;
}
nav .nav-header {
  display: block;
  background-color: #1c1c1c;
}
nav .nav-header .logo-wrap {
  padding: 1.7em 1em;
}
nav .nav-header .logo-wrap .logo-icon {
  display: inline-block;
  text-decoration: none;
}
nav .nav-header .logo-wrap .logo-icon img {
  display: block;
  border-radius: 50%;
}
nav .nav-header .logo-wrap .logo-text {
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
  vertical-align: 12px;
  margin-left: 8px;
  text-decoration: none;
}
nav .nav-header .nav-search {
  position: relative;
  height: 40px;
}
nav .nav-header .nav-search .search {
  display: block;
  position: relative;
}
nav .nav-header .nav-search .search i {
  position: absolute;
  top: 8px;
  right: 0.7em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  cursor: pointer;
}
nav .nav-header .nav-search .search input[type="search"] {
  width: 100%;
  height: 40px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  padding: 0 48px 0 20px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}
nav .nav-header .nav-search .search ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
nav .nav-header .nav-search .search ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
nav .nav-header .nav-search .search :-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
nav .nav-header .nav-search .search :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
nav .nav-categories li {
  display: block;
  position: relative;
}
nav .nav-categories li a {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #5c5c5c;
  padding: 0.625em 1.3em;
  text-decoration: none;
}
nav .nav-categories li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
nav.open {
  left: 0px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
  opacity: 1;
}
nav .nav-separator {
  width: 100%;
  height: 1px;
  margin: 7px 0;
  background-color: rgba(0, 0, 0, 0.175);
}
nav .nav-link-title {
  display: block;
  color: #1c1c1c;
  font-size: 1rem;
  padding: 0.5em 1.3em;
}
nav .social {
  display: -webkit-box;
  display: flex;
  margin: 4px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.155);
  border-bottom: 1px solid rgba(0, 0, 0, 0.155);
}
nav .social li {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 28px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 28px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  border-right: 1px solid rgba(0, 0, 0, 0.175);
}
nav .social li:last-child {
  border-right: 0;
}
nav .social li a {
  display: block;
  color: #5c5c5c;
  font-size: 15px;
  padding: 2px;
  text-decoration: none;
}
nav .social li a.twitter:hover {
  color: #00baf0;
}
nav .social li a.facebook:hover {
  color: #3b5997;
}
nav .social li a.google-plus:hover {
  color: #c43c2c;
}
nav .social li a.rss:hover {
  color: #ff6600;
}
nav .copyright {
  display: block;
  color: #5c5c5c;
  text-align: center;
  padding: 0.5em 0 1em;
}
nav .copyright span {
  display: block;
  width: 100%;
  font-size: 11px;
  margin-bottom: 4px;
}

/* -----------------------------------------------------
     Dropdown Menu
  -------------------------------------------------------- */
li.dropdown {
  display: inline-block;
  position: relative;
}
li.dropdown a {
  display: block;
  height: 64px;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  line-height: 64px;
  text-decoration: none;
}
li.dropdown a i {
  vertical-align: middle;
}
li.dropdown .dropdown-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  min-width: 240px;
  margin: 2px 0;
  padding: 5px 0;
  text-align: left;
  border-radius: 2px;
  background-color: #1c1c1c;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
li.dropdown .dropdown-menu li {
  display: block;
}
li.dropdown .dropdown-menu li a {
  display: block;
  height: 40px;
  font-size: 1em;
  line-height: 40px;
  text-decoration: none;
}
li.dropdown .dropdown-menu li a:hover {
  background: #ff8500;
}
li.dropdown.open .dropdown-menu {
  display: block;
}

/* -----------------------------------------------------
     Slide banner
  -------------------------------------------------------- */

.bannner_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82vh;
  margin: 0;
  position: relative;
}

/*background-color: rgba(0, 0, 0, 0.7);*/

.slider-container {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.32), 0 5px 8px rgba(0, 0, 0, 0.46);
  position: relative;
  overflow: hidden;
  height: 60vh;
  width: 65vw;
}

.slide {
  background-position: 15vw center;
  background-size: 66%;
  background-repeat: no-repeat;
  position: absolute;
  top: -15vh;
  left: -15vw;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: 0.4s ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.bannner_body .arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid orange;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}

.bannner_body .arrow:focus {
  outline: 0;
}

.bannner_body .left-arrow {
  left: 0;
}

.bannner_body .right-arrow {
  right: 0;
}

.bg-black {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#main {
  margin-top: 60px;
}

#movies h1 {
  color: #ff8500;
  padding: 15px;
  margin-top: 15px;
}

#movies img {
  width: 100%;
}

.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}
.video-detail {
  width: 80vw;
  height: 90vh;
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video-detail .bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.episodes {
  margin-top: 40px;
}
.episodes a {
  color: white;
  margin-top: 10px;
  display: block;
}
.episodes a:hover {
  text-decoration: none;
  color: #ff8500;
}
.episodes i {
  color: #ff8500;
}
.select {
  font-size: 16px;
  line-height: 24px;
  background: #1c1c1c;
  color: white;
  border-color: #1c1c1c;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  width: 200px;
  display: block;
}
.content-large-img {
  width: 450px;
  margin-top: 40px;
}
.content-large-img:nth-child(2) {
  max-height: 62%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.85);
  padding: 10px;
}
.title-large-img {
  font-size: 32px;
}
.real-large-img {
  font-size: 80%;
  padding-bottom: 15px;
}
.description-large-img {
  font-size: 95%;
  line-height: 24px;
  padding-bottom: 15px;
  font-style: italic;
  font-weight: 300;
  height: auto;
  max-height: 40vh;
  overflow: auto;
}

.playeur {
  width: 50%;
  margin: auto;
}
.playeur video {
  width: 100%;
}
.filter-black {
  position: fixed;
  background: black;
  width: 100%;
  opacity: 0.7;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.btnwatch {
  line-height: 25px;
  display: inline-block;
  background: #ff8500;
  color: white;
  padding: 6px 20px 5px 20px;
  cursor: pointer;
  transition: background 0.3s ease-out;
  font-size: 80%;
}
.marge1 {
  margin: 10px;
}
.marge2 {
  margin: 10px 25px 0 0;
}
.marge3 {
  margin: 10px 0 0 10px;
}
.marge4 {
  margin: 10px 0 0 25px;
}
.btnwatch:hover {
  text-decoration: none;
}
.btnwatch-secondary {
  background: transparent;
  border: 1px solid #ff8500;
}
.btnwatch-sm {
  padding: 5px 10px 2px 10px;
  font-size: 70%;
}
.btnwatch.active {
  background: rgb(172, 48, 48);
  border: 1px solid rgb(172, 48, 48);
}

.bg-calc {
  width: 600px;
  height: 600px;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.95);
  border: none;

  -webkit-box-shadow: 141px 67px 179px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 141px 67px 179px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 141px 67px 179px 0px rgba(0, 0, 0, 0.75),
    141px 67px 179px 0px rgba(0, 0, 0, 0.75),
    141px 67px 179px 0px rgba(0, 0, 0, 0.75),
    141px 67px 179px 0px rgba(0, 0, 0, 0.75);

  top: -100px;
  left: -350px;
}
.box a {
  transition: transform 0.3s;
  position: relative;
}
.category {
  color: white;
  background: #3c3c3c;
  font-size: 11px;
  padding: 5px 10px 5px 10px;
}
.content-large-img .categoryMovie {
  margin-bottom: 12px;
  padding-top: 0px;
  color: black;
}
.titleMovie {
  color: #ff8500;
  font-size: 95%;
  font-weight: bold;
  text-transform: lowercase;
}
.realMovie {
  font-size: 7px;
}
.categoryMovie span {
  color: white;
  font-size: 8px;
  font-weight: bolder;
  display: inline-block;
  line-height: 13px;
  padding: 2px 4px 2px 4px;
  background: #ff8500;
  border-radius: 5px;
  margin: 3px;
  font-weight: 300;
  letter-spacing: 0.1ch;
}
.categoryMovie {
  margin-top: 5px;
}

.box .calc {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6786064767703957) 67%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease-out;
  padding: 15px 0px 0px 20px;
}
.box a:hover .calc {
  opacity: 1;
}

.box a:hover {
  transition: transform 0.3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  z-index: 5;
}

.box img {
  border-radius: 2px;
}

@media (max-width: 900px) {
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (max-width: 700px) {
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media (max-width: 500px) {
  .main-nav {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .box a:hover {
    transition: transform 0.3s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1.2);
  }
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.marge {
  margin-top: 6em;
}
