
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Résumé des activités</h2>   
                <h5>Tableau de bord de la plateforme <b>E-Cine</b>. </h5>
            </div>
        </div>              
            <!-- /. ROW  -->
            <hr />
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">           
                <div class="panel panel-primary text-center no-boder bg-color-blue">
                    <div class="panel-body">
                        <i class="fa fa-users fa-5x"></i>
                        <h3><?=count($listeUsers);?></h3>
                    </div>
                    <div style="background: #8702A8;border-color: #8702A8;" class="panel-footer back-footer-blue">
                        Utilisateurs inscrits
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">  
                <div class="panel panel-primary text-center no-boder bg-color-green">
                    <div class="panel-body">
                        <i class="fa fa-inbox fa-5x"></i>
                        <h3><?=count($abonnements);?></h3>
                    </div>
                    <div class="panel-footer back-footer-green">
                        Abonnements en cours
                        
                    </div>
                </div>    
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-primary text-center no-boder bg-color-red" style="background: #FF8500;">
                    <div class="panel-body">
                        <i class="fa fa-warning fa-5x"></i>
                        <h3><?=count($attentes);?></h3>
                    </div>
                    <div style="background: rgb(187, 101, 8);border-color: rgb(187, 101, 8);" class="panel-footer back-footer-red">
                        Abonnements en attente
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">     
                <div class="panel panel-primary text-center no-boder bg-color-red">
                    <div class="panel-body">
                        <i class="fa fa-money fa-5x"></i>
                        <h3><?=$revenus->total;?>€ </h3>
                    </div>
                    <div class="panel-footer back-footer-red">
                        Revenu de la plateforme
                    </div>
                </div>
            </div>
        </div>
            <!-- /. ROW  -->
        <hr />  

            <!-- /. ROW  -->
            <div class="row" >
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h2>Le top 5 des films et le top 5 séries les plus vues </h2>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="60">Poster</th>
                                        <th>Titre</th>
                                        <th>Type</th>
                                        <th>Réalisation</th>
                                        <th>Date</th>
                                        <th>Nb</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach($topFilms AS $t){ ?>
                                    <tr>
                                        <td><img width="60" src="../<?=$t->vid_sPoster;?>" alt="<?=$t->vid_sTitre;?>"></td>
                                        <td><?=$t->vid_sTitre;?></td>
                                        <td><?=$t->vid_sType;?></td>
                                        <td><?=$t->vid_sReal;?></td>
                                        <td>
                                            Ajouté le <?=$cmn->affDateTimeFrNum($t->vid_dDateAjout); ?>
                                            <br>
                                            Sorti le <?=$cmn->affDateFrNum($t->vid_dDateSort); ?>
                                        </td>
                                        <td><?=$t->nb;?></td>
                                    </tr>
                                    <?php } ?>
                                    <?php foreach($topSeries AS $t){ ?>
                                        <tr>
                                            <td><img width="60" src="../<?=$t->vid_sPoster;?>" alt="<?=$t->vid_sTitre;?>"></td>
                                            <td><?=$t->vid_sTitre;?></td>
                                            <td><?=$t->vid_sType;?></td>
                                            <td><?=$t->vid_sReal;?></td>
                                            <td>
                                                Ajouté le <?=$cmn->affDateTimeFrNum($t->vid_dDateAjout); ?>
                                                <br>
                                                Sorti le <?=$cmn->affDateFrNum($t->vid_dDateSort); ?>
                                            </td>
                                            <td><?=$t->nb;?></td>
                                        </tr>
                                        <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-green">
                    <div class="panel-body">
                        <i class="fa fa-plus fa-5x"></i>
                        <h4><a href="?p=new-media" class="btn btn-warning">AJOUTER</a></h4>
                        <h4>des nouveaux</h4>
                    </div>
                    <div class="panel-footer back-footer-green">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <i class="fa fa-film fa-2x"></i>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 text-left">
                                <div><b><?=count($series);?> films</b></div>
                                <div><b><?=count($films);?> séries</b></div>
                                <div><b><?=count($episodes);?> épisodes</b></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
                    
    </div>
        <!-- /. PAGE INNER  -->
</div>
    <!-- /. PAGE WRAPPER  -->