
<div class="container">
    <div class="form-component">
        <div class="logo">
            <img src="../assets/IMG/E-CINE.png"/>
        </div>
        <div class="form-connect">
            <h3>Connexion admin</h3>
            <form id="form_sign-in">
                <div class="form-group retour"></div>
                <div class="form-group">
                    <label>Email / Pseudo</label>
                    <input type="text" class="form-control require" name="login" />
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" class="form-control require" name="pass" />
                </div>
                <div class="form-group">
                    <button type="button" class="form-control btn btn-warning" id="sign-in">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>